:root{
    --blue: #3880af;
    --red: #ad3737;
    --yellow: #baad3b;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
a{
    color:inherit;
}
p{
    margin-bottom:10px;
}
#intro{
    background-image:url(../img/protest.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
}
#bg-pc{
    background-image:url(../img/pc.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
}
#bg-ppl{
    background-image:url(../img/ppl.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
}
#intro p{
    line-height:2.3rem;
}
.introTxt{
    background-color: rgba(255,255,255, 0.85);
    padding:1.8rem;
    backdrop-filter: blur(2px);
    border-radius:8px;
    overflow:auto;
    line-height:2.3rem;
}
#figures{
    margin-bottom:12px;
}
#figures img{
    height:230px;
    object-fit:cover;
    border-radius:8px;
}
#figures .card{
    border:none;
}
#afterQuiz{
    display:none;
    background-image:url(../img/protest.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
}
#quiz-form{
    margin-bottom:20px;
}
.ul-b{
    text-decoration-line: underline;
    text-decoration-color:  var(--blue);
}
.ul-r{
    text-decoration: underline;
    text-decoration-color:  var(--red);
}
.ul-y{
    text-decoration:underline;
    text-decoration-color:var(--yellow);
}
.card-header{
    background:#f9f9f9;
}
.soc{
    border-bottom:2px solid var(--red);
}
.eco{
    border-bottom:2px solid var(--blue);
}
.card-text{
    font-weight: bold;
}
footer{
    padding:9px;
}
#ideoAside, .ideoAside{
    width:40%;
    float:right;
    align-items:right;
    object-fit:cover;
    text-align:center;
}
#ideoAside img, .ideoAside img{
    width:100%;
    object-fit: cover;
    border-radius:8px;
    height:300px;
}
#ideoTxt, .ideoTxt{
    width:60%;
    padding-right:35px;
    float:left;
}
.ideoPage{
    margin:40px auto;
    padding:20px;
    line-height:2.4rem;
    overflow: auto;
}
.border-y{
    border-bottom:2px solid var(--yellow);
}
.border-r{
    border-bottom:2px solid var(--red);
}
.border-b{
    border-bottom:2px solid var(--blue);
}

#btt{
    background:#111;
    border-radius:50%;
    height:45px;
    width:45px;
    overflow:hidden;
    text-align:center;
    position:fixed;
    bottom:1.6%;
    right:1.6%;
    display:none;
}

#btt i{
    margin-top:4px;
}

.fullscreen{
    height:100vh;
}
.btn-dark{
    background-color:#262626;
}

@media(max-width:660px){
    #ideoAside, #ideoTxt, .ideoAside, .ideoTxt{
        width:100%;
        float:none;
        align-items:center;
    }
    #ideoTxt, .ideoTxt{
        padding-right:0;
    }
    #ideoAside img, .ideoAside img{
        height:280px;
    }
    .nav-item{
        margin-top:10px;
    }
}
@media(max-width:340px){
    .fullscreen{
        height:auto;
    }
    .p-5{
        padding:1.2rem !important;
    }
    #intro{
        padding:1rem;
    }
}